
// Body
$body-bg: #f8f8f8;

//специфический голубой фон данного дизайна
$brand-primary: #29c5e6; 

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/*фон панелей*/
$panel-bg: #f3f3f3;
/*цвет рамки панелей*/
$panel-inner-border: #e7e7e7;
/*убираем скругление у блоков*/
$border-radius-base: 0;
/*первичные кнопки имеют голубой фон*/
$btn-primary-bg: $brand-primary; 
/*если ширина экрана больше 992px, то ширина контейнера 960px*/
$container-md: 960px; 
/*если ширина экрана больше 1200px, то ширина контейнера так же 960px*/
$container-lg: $container-md; 
/*основным шрифтом будет Tahoma*/
$font-family-base: Tahoma, sans-serif;
/*задаем базовый размер*/
$font-size-base: 12px; 
/*основной цвет текста на странице*/
$text-color: #8f8f8f;
/*серый фон текстовых полей*/
$input-bg: $panel-bg;
/*серая рамка текстовых полей*/
$input-border: $panel-inner-border;
/*серый цвет текста в полях*/
$input-color: #b2b2b2;

$brand-font: 'Oswald',sans-serif; 

p {
	margin: 20px 0;
}

.form-control {
	box-shadow: none;
}

.btn {
	font-family: $brand-font;
}