@charset "utf-8";
/* 
    Created on : 26.11.2018, 20:12:25
    Author     : sumtsow
*/

@font-face {
    font-family: "Segoe UI";
    src: url('/font/segoeui.ttf');
}

* {
    font-family: "Segoe UI";
    font-size: 1rem;
}

body {
    background: #e8fdfd;
}

#logo {
    border: 1px #04231F solid;
    border-radius: .5rem;
    box-shadow: 3px 3px 10px #222;
    /*background: #0D3E38;*/
}

#lang {
    margin-top: -40px;
}

/*#top.uk {
    background: url("/img/title_ua.jpg") no-repeat;
}


#top.ru {
    background: url("/img/title_ru.jpg") no-repeat;
}


#top.en {
    background: url("/img/title_ua.jpg") no-repeat;
}*/

#lang_form input {
    font-size: 1.2rem;
}

#lang_form input.ua {
    background: url(/img/flag_ua.png) round;
}

#lang_form input.ru {
    background: url(/img/flag_ru.png) round;
}

#lang_form input.en {
    background: url(/img/flag_en.png) round;
}

#carousel-inner {
    border: 1px #04231F solid;
    border-radius: .5rem;
    box-shadow:3px 3px 10px #222;
}

#nav {
    border: 1px #04231F solid;
    border-radius: .5rem;
    box-shadow: 3px 3px 10px #222;
}

#nav a {
    color: #F1EA7A;
}

#nav a:hover {
    color: #D7EEE1;
    background: #299487;
}

#nav li {
    background: url("/img/menu_border.jpg") no-repeat bottom;
    background-color: #0D3E38;    
}

#nav li:last-of-type {
    background: #0D3E38;    
}

#nav .dropdown-menu {
    background-color: #0D3E38;
    border-radius: .5rem;
}

#nav .dropdown-item {
    background: url("/img/menu_border.jpg") no-repeat bottom;
}

#breadcrumbs {
    border: 1px #04231F solid;
    border-radius: .5rem;
    box-shadow: 3px 3px 10px #222;
    background-color: #0D3E38;
}

#breadcrumbs ol {
    background-color: #0D3E38;
}

#breadcrumbs a {
    color: #F1EA7A;
}

#foo {
    height: 22px;
    padding-top: 2px; 
    color: #E5FCDA;
    border-top: 1px #04231F solid;
    border-right: 1px #04231F solid; 
    border-left: 1px #04231F solid;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    box-shadow: 3px 3px 10px #222;
    background: #0D3E38;
}
