@charset "utf-8";
/* 
    Created on : 26.11.2018, 20:12:25
    Author     : sumtsow
*/

@font-face {
    font-family: "Segoe UI";
    src: url('/font/segoeui.ttf');
}

* {
    font-family: "Segoe UI";
    font-size: 1rem;
}

body {
    background: #e8fdfd;
}

#logo {
    border: 1px #04231F solid;
    border-radius: .5rem;
    box-shadow: 3px 3px 10px #222;
}

#lang a {
    font-size: 0.9rem;
}

#lang a.ua {
    background: url(/img/flag_ua.png) round;
}

#lang a.ru {
    background: url(/img/flag_ru.png) round;
}

#lang a.en {
    background: url(/img/flag_en.png) round;
}

#carousel-inner {
    border: 1px #04231F solid;
    border-radius: .5rem;
    box-shadow:3px 3px 10px #222;
}

#nav {
    border: 1px #04231F solid;
    border-radius: .5rem;
    box-shadow: 3px 3px 10px #222;
    background: #0D3E38;
}

#nav a {
    color: #F1EA7A;
}

#nav a:hover {
    color: #D7EEE1;
    background: #299487;
}

#nav li {
    background: url("/img/menu_border.jpg") no-repeat bottom;
    background-color: #0D3E38;    
}

#nav li:last-of-type {
    background: #0D3E38;    
}

.dropdown-menu {
    background-color: #0D3E38;
    border-radius: .5rem;
}

.dropdown a, .dropdown-item {
    color: #F1EA7A;
}

.dropdown a:hover, .dropdown-item:hover {
    color: #D7EEE1;
    background: #299487;
}

.dropdown-item {
    background: url("/img/menu_border.jpg") no-repeat bottom;
}

.dropdown-item:last-of-type {
    background: #0D3E38;
}

.navbar-toggler {
    color: #F1EA7A;
}

.yellow {
    color: #0D3E38;
    font-weight: bold;
}

.navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(241, 234, 122, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

#breadcrumbs {
    border: 1px #04231F solid;
    border-radius: .5rem;
    box-shadow: 3px 3px 10px #222;
    background-color: #0D3E38;
}

#breadcrumbs ol {
    background-color: #0D3E38;
    color: #F1EA7A;
}

#breadcrumbs a {
    color: #F1EA7A;
}

#foo {
    height: 22px;
    padding-top: 2px; 
    color: #E5FCDA;
    border-top: 1px #04231F solid;
    border-right: 1px #04231F solid; 
    border-left: 1px #04231F solid;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    box-shadow: 3px 3px 10px #222;
    background: #0D3E38;
}

.card-header {
     background-color: #0D3E38;
     color: #F1EA7A;
}

.thead-pat {
     background-color: #0D3E38;
     color: #F1EA7A;
}

.modal-header {
     background-color: #0D3E38;
     color: #F1EA7A;
}